<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hui.springboot.mapper.UserMapper" >

<resultMap type="User" id="UserMap">
<id column="user_id" property="userId"></id>
<result column="user_name" property="userName" />
<result column="password"  property="encryptedPassword"/>
<result column="salt" property= "salt" />
<result column="register_time" property="registerTime"/>
<result column="rank" property="rank" />
<result column="money" property="money" />
<result column="email" property="email" />
<!-- <collection property="userOrders" ofType="UserOrder" resultMap="com.hui.springboot.mapper.OrderMapper.OrderMap"></collection> -->
</resultMap>


<insert id="insertUser" parameterType="User" >
	INSERT INTO user(user_name ,password, salt, register_time,  experience, rank ,money, email ) 
	VALUES (#{userName} ,#{encryptedPassword} , #{salt}, #{registerTime}, #{experience} ,#{rank} ,#{money}, #{email} );
	
</insert>

<update id="updateUser"  parameterType="User">
UPDATE user SET user_name =#{userName},password =#{encryptedPassword}, salt= #{salt}, register_time =#{registerTime},  experience = #{experience} , rank = #{rank} ,money =#{money}, email = #{email}
WHERE user_id = #{userId}

</update>


<select id="getAllUsers" resultMap="UserMap">
SELECT * FROM user;

</select>

<select id="getUserByEmail" parameterType="String"  resultMap="UserMap">
SELECT * FROM user WHERE  email =#{email};

</select>

<select id="getUserById"  parameterType="int" resultMap="UserMap">
SELECT  user_name, register_time, experience, rank,money, email FROM user WHERE user_id =#{userId};

</select>


<select id="getUserByUserName" parameterType="String" resultMap="UserMap">
SELECT * FROM user WHERE user_name=#{userName};

</select>

<select id="getUserByUserNameAndEmail" parameterType ="User" resultMap="UserMap">
	SELECT * FROM user WHERE user_name= #{userName} AND email= #{email};

</select>

</mapper>